.startPage {
    background-image: url(../images/unsplash_edit.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    height: 100%;

    .header-title {
        width: 30%;
    }

    header {
        width: 100%;
    }

    blockquote.sub-header {
        @include font-size(1.8rem);
        @include headers();
        color: white;
        text-align: left;
        margin-top: 50px;
    
    }
}

.imgHolder {
    // width: 300px;
    display: flex;
    justify-content: center;
    height: 200px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.masterContainer {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    .wrapper {
        margin: 0;
    }
}

.container {
    
    display:flex;
    flex-direction: column;
    width: calc(33.3% - 40px);
    min-height: 700px;
    max-height: 700px;
    margin: 20px 40px 20px 0;
    background: $card-color;
    box-shadow: 2px 4px 2px rgb(67, 73, 153);
    position: relative;
    padding: 10px;
    border-radius: 3px;
    transition: all .5s ease;

    &:before {
        content: "";
        position: absolute;
        width: 50px;
        border: 2px solid #73aeb0;
        top: 20%;
        right: -5%;
    }

    &:after {
        content: "";
        position: absolute;
        width: 50px;
        border: 2px solid #73aeb0;
        top: 18%;
        right: -5%;
    }
    

    .artistInfoContainer {
        width: 100%;
        h2 {
            text-align: left;
            text-transform: uppercase;
        }
    }

    .spotifyContainer {
        width: 100%;
        height: 100%;
        overflow-y: auto;

    }

    .artistHeader {
        height: 70px;
    }
    
    .date-location {
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: flex-start;
        h3 {
            padding-right: 2px;
            width: 60%;
            text-align: left;
            
        }
        
        p {
            padding-left: 5px;
            border-left: 1px solid $accent;
           

        }
    }

    .artist-title {
        width: 100%;
        text-align: left;
        height: 170px;
        border: 5px solid white;
        padding-left: 10px;
        margin-bottom: 20px;
        overflow: hidden;
    }
    
    
}

.error-message {
    display: none;
    text-align: center;
    color: white;
}

.error-message-display {
    display: block;
}

@media (max-width: 1000px) {
    .masterContainer .container {
        width: calc(50% - 40px);
        margin: 50px 0;
    
    }

    .masterContainer .container:nth-of-type(2n) {
        margin-left: 80px;
    }

}

@media (max-width: 760px) {
    
    .masterContainer .container {
        width: 100%;
        padding: 40px 100px;
        
        .imgHolder {
            display: none;
        }
    
    }
    .masterContainer .container:nth-of-type(2n) {
        margin-left: 0;
    
    }

   
}

@media (max-width: 530px) {
    .masterContainer .container {
        padding: 40px 50px;
    }
}

@media (max-width: 530px) {
    .masterContainer .container {
        padding: 40px 50px;
    }
}

@media (max-width:350px) {
    .startPage .wrapper {
        width: 100%;
    }

    .date-location {
        margin-bottom: 20px;
    }
}
