@mixin headers () {
    font-family: $pfont;
}

@mixin content () {
    font-family: $sfont;
}
@mixin font-size ($size){
    font-size: $size;
    color: $font-color;
}

body {
    @include content();
}


h1{
    @include font-size(5rem);
    @include headers();
    margin: 0;
    margin-top: 50px;
    color: white;
    text-align: left;
    text-transform: uppercase;
}

h2 {
    @include font-size(1.8rem);
    @include headers();
    color: white;
    text-justify: left;
    margin: 20px 0;

}

h3 {
    @include font-size(1rem);
    @include content();
    color: $accent;
}

p {
    @include font-size(1rem);
    @include content();
    color: $accent;
}

.fa {
    color: white;
    font-size: 1.8rem;
    margin-top: 10px;
}

