$primary : rgba(255, 255, 255, 0);
$accent: #73aeb0;
$font-color: grey;
// $card-color: rgba(200, 200, 200, 1);
$card-color: hsla(216, 67%, 40%, 0.9);

$sfont: 'Montserrat', sans-serif;
$pfont: 'Roboto', sans-serif;

* {
    margin: 0;
    padding: 0;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.flexContainer {
    display: flex;
}

@import "partials/setup";
@import "partials/typography";
@import "partials/form";
@import "partials/main";

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;
    background-color: $primary;
    // height: 100vh;
}

img {
    width: 100%;
    height: 100%; 
    // border-radius: 150px;
    margin-bottom: 30px;
//     margin: 0 auto;
// 
}






