* {
  margin: 0;
  padding: 0; }

.displayNone, .startPage .wrapper form label {
  display: none; }

.displayBlock {
  display: block; }

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-size: 5rem;
  color: grey;
  font-family: "Roboto", sans-serif;
  margin: 0;
  margin-top: 50px;
  color: white;
  text-align: left;
  text-transform: uppercase; }

h2 {
  font-size: 1.8rem;
  color: grey;
  font-family: "Roboto", sans-serif;
  color: white;
  text-justify: left;
  margin: 20px 0; }

h3 {
  font-size: 1rem;
  color: grey;
  font-family: "Montserrat", sans-serif;
  color: #73aeb0; }

p {
  font-size: 1rem;
  color: grey;
  font-family: "Montserrat", sans-serif;
  color: #73aeb0; }

.artist-title {
  width: 70%;
  text-align: left; }

blockquote.sub-header {
  font-size: 1.8rem;
  color: grey;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: left;
  margin-top: 50px; }

.startPage .wrapper {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  text-align: center; }
  .startPage .wrapper h1, .startPage .wrapper blockquote, .startPage .wrapper form, .startPage .wrapper .input-container {
    margin-bottom: 50px; }
  .startPage .wrapper header {
    padding-top: 50px; }
  .startPage .wrapper input {
    padding: 10px;
    margin: 0 5px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.8);
    border: 0;
    border-radius: 2px;
    color: #73aeb0;
    width: 200px; }
  .startPage .wrapper button {
    padding: 10px;
    border-radius: 5px;
    background-color: #73aeb0;
    color: white;
    border: 0;
    -webkit-box-shadow: 0px 1px 1px grey;
    box-shadow: 0px 1px 1px grey;
    width: 150px; }

::-webkit-input-placeholder {
  color: #909296;
  text-transform: uppercase; }

:-ms-input-placeholder {
  color: #909296;
  text-transform: uppercase; }

::-ms-input-placeholder {
  color: #909296;
  text-transform: uppercase; }

::placeholder {
  color: #909296;
  text-transform: uppercase; }

body {
  padding: 0;
  margin: 0; }

.wrapper {
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0); }

img {
  width: 100%;
  height: 100%;
  margin-bottom: 30px; }

.startPage {
  background-image: url(../images/unsplash_edit.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  height: 100%; }

.imgHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 200px;
  margin-bottom: 5px;
  margin-top: 15px; }

.masterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: calc(33.3% - 40px);
  min-height: 700px;
  max-height: 700px;
  margin: 20px;
  background: rgba(160, 227, 207, 0.9);
  -webkit-box-shadow: 2px 4px 2px grey;
  box-shadow: 2px 4px 2px grey;
  position: relative;
  padding: 10px; }
  .container:before {
    content: "";
    position: absolute;
    width: 50px;
    border: 2px solid #73aeb0;
    top: 5%;
    left: -5%; }
  .container:after {
    content: "";
    position: absolute;
    width: 50px;
    border: 2px solid #73aeb0;
    top: 8%;
    left: -5%; }
  .container .artistInfoContainer {
    width: 100%; }
    .container .artistInfoContainer h2 {
      text-align: left;
      text-transform: uppercase; }
  .container .spotifyContainer {
    width: 100%;
    height: 500px; }
  .container .artistHeader {
    height: 70px; }
  .container .date-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .container .date-location h3 {
      border-right: 1px solid #73aeb0;
      padding-right: 2px;
      width: 70%;
      text-align: left; }
    .container .date-location p {
      padding-left: 5px; }

.error-message {
  display: none;
  text-align: center;
  color: white; }

.error-message-display {
  display: block; }
