$primary : lightgrey;
$accent: #703DC7;
$font-color: white;
$card-color: #6457a6;

$pfont: 'Yeseva One', cursive;
$sfont: 'Roboto', sans-serif;

@import "partials/setup";

@mixin font-size ($size){
    font-size: $size;
    color: $font-color;
}

@mixin headers () {
    font-family: $pfont;
}

@mixin content () {
    font-family: $sfont;
}


h1{
    @include font-size(1.8rem);
    @include headers();
}

h2 {
    @include font-size(2rem);
    @include headers();

}

h3 {
    @include font-size(1.8rem);
    @include content();
}

p {
    @include font-size(1.6rem);
    @include content();
}

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;
    background-color: $primary;
    // height: 100vh;
}

img {
    width: 200px;
    height: 200px; 
    border-radius: 150px;
    margin-bottom: 30px;
//     margin: 0 auto;
// 
}

.imgHolder {
    // width: 300px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    // margin: 0 auto;
    
}

.masterContainer {
    display: flex;
    flex-wrap: wrap;
}

.container {
    display:flex;
    width: calc(50% - 40px);
    min-height: 500px;
    justify-content: space-between;
    margin: 20px;
    background: $card-color;
    box-shadow: 2px 4px 2px grey;
    

    .artistInfoContainer {
        padding: 20px;
        width: 60%;
    }

    .spotifyContainer {
        width: 40%;
    }
    
    // .spotifyContainer {
    //     width: 300px;
    //     height: 300px;
    // }
}




